body {
  color: #333333;
  line-height: 1;
}

img {
  max-width: 100%;
  max-height: 100%;
}

iframe {
  width: 100%;
}
@media (min-width: 769px) {
  iframe {
    height: 100%;
  }
}

.map {
  height: 310px;
  margin-bottom: 40px;
}

a {
  color: inherit;
}
a:hover {
  color: inherit;
  text-decoration: none;
}

button:focus, .btn {
  outline: none;
}

header {
  position: absolute;
  width: 100%;
  background: rgba(0, 0, 0, 0.4);
  z-index: 99;
  border-bottom: 1px solid #a39e02;
  text-align: center;
  padding-bottom: 15px;
}
@media (max-width: 576px) {
  header {
    padding-bottom: 0;
  }
}
header img {
  padding: 20px 0;
}
@media (max-width: 576px) {
  header img {
    max-height: 50px;
    padding: 10px;
    float: left;
  }
}
header button {
  float: right;
  background: unset;
  border: unset;
  padding-right: 15px;
  height: 50px;
}
@media (min-width: 575px) {
  header button {
    display: none;
  }
}
header button .fa-bars {
  color: #ffffff;
}
header .menu-header a {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 16px;
  color: #ffffff;
  text-transform: uppercase;
}
@media (max-width: 576px) {
  header .menu-header a:hover {
    background: #666666;
    color: #ffffff;
  }
}
@media (max-width: 576px) {
  header .menu-pc {
    display: none;
  }
}
header .menu-mb {
  padding: 50px 0;
  list-style: none;
  background: #333333;
  text-align: left;
}
header .menu-mb a {
  border-bottom: 1px solid #ffffff;
  padding: 10px;
}

.slide {
  position: relative;
}
.slide img {
  width: 100vw;
  max-height: 450px;
}
.slide.slide-home img {
  max-height: unset;
}
.slide .title-slide {
  position: absolute;
  z-index: 2;
  top: 65%;
  left: 50%;
  transform: translateX(-50%);
  color: #ffffff;
  font-family: "Lato", sans-serif;
  text-align: center;
}
@media (max-width: 768px) {
  .slide .title-slide {
    display: none;
  }
}
.slide .title-slide.title-slide-home {
  top: 50%;
}
.slide .title-slide.title-slide-home h1 {
  margin-bottom: 20px;
}
.slide .title-slide h1 {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: bold;
}
.slide .title-slide h3 {
  font-size: 30px;
  margin-bottom: 30px;
  font-weight: bold;
}
.slide .title-slide button {
  font-size: 15px;
  background: none;
  border-color: #ffffff;
  border-radius: 0px;
  width: 130px;
  height: 30px;
  padding: 0;
  font-weight: bold;
}
.slide .carousel-indicators .active {
  background-color: #ffffff;
}
.slide .carousel-indicators li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #a39e02;
  opacity: 1;
}

h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 30px;
  text-transform: uppercase;
  text-align: center;
  padding: 50px 0;
}
h2 span {
  color: #c5a643;
  font-weight: bold;
}

.link {
  font-family: "Roboto Condensed", sans-serif;
  padding-top: 15px;
  padding-bottom: 30px;
}
.link .fa-home {
  font-size: 20px;
  color: #d9b21f;
}
.link span {
  text-transform: uppercase;
  font-size: 15px;
}
.link span:hover {
  color: #d9b21f;
}
.link span::before {
  content: " > ";
}

.cate {
  background-image: url("/public/img/Untitled-9.jpg");
  padding-bottom: 80px;
  font-family: "Roboto Condensed", sans-serif;
}
.cate .col-cate {
  height: 400px;
  position: relative;
}
.cate .col-cate img {
  height: 100%;
  object-fit: cover;
}
.cate .col-cate .title-cate {
  font-size: 20px;
  font-weight: 700;
  position: absolute;
  text-align: center;
  left: 0;
  bottom: 20px;
  text-transform: uppercase;
  font-weight: bold;
  color: #ffffff;
  margin: 0 15%;
  width: 70%;
  border-bottom: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  padding: 8px 0;
}
@media (max-width: 1024px) {
  .cate .col-cate {
    margin-bottom: 30px;
  }
}

.product {
  padding-bottom: 50px;
  text-align: center;
}
.product .col-product {
  border: 1px solid #dddddd;
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
}
.product-img {
  height: 200px;
  text-align: center;
  padding: 15px 0;
}
.product-info {
  text-align: center;
}
.product-info .product-name {
  font-size: 16px;
  font-weight: 400;
}
.product-info .product-price {
  color: #ff0000;
  font-size: 15px;
  font-weight: bold;
}
.product-info button {
  background: #e8e8e8;
  font-size: 13px;
  text-transform: uppercase;
  width: 100px;
  height: 35px;
  border: #e8e8e8;
  border-radius: 5px;
  margin: 15px 0;
}
.product-info button a {
  color: #333333;
}
.product-info button:hover {
  background: #c5a643;
}
.product-info button:hover a {
  color: #ffffff;
}

.btn-more {
  background: #ffffff;
  font-size: 15px;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  height: 40px;
  width: 144px;
  border: 2px solid #c5a643;
  margin-bottom: 25px;
  font-weight: 500;
  border-radius: unset;
}
.btn-more:hover {
  background: #c5a643;
}

.news {
  background: url(/public/img/Untitled-22.png), #eeeeee;
  background-repeat: no-repeat;
  text-align: center;
}
.news .col-news {
  height: 370px;
  margin-bottom: 30px;
}
.news .col-news img {
  width: 100%;
  height: 50%;
}
.news .col-news .news-info {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  background: #ffffff;
  margin: 0 30px;
  text-align: left;
  margin-top: -20px;
  position: absolute;
  left: 0;
  top: 45%;
  z-index: 2;
  padding: 10px;
}
.news .col-news .news-info h4 {
  height: 36px;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: bold;
  font-size: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.news .col-news .news-info p {
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 4;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.news .col-news .news-info a {
  color: #333333;
  float: right;
  font-weight: bold;
}
.news .col-news .news-info a:hover {
  color: #c5a643;
}
.news .col-news .news-info a .fa-arrow-right {
  color: inherit;
}
.news .col-news .news-info a .fa-arrow-right:hover {
  color: inherit;
}

.contact {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 15px;
  color: inherit;
  background-image: url(/public/img/Untitled-44.png), url(/public/img/Untitled-45.png);
  background-position: top left, top right;
  background-repeat: no-repeat;
}
.contact .row-contact {
  margin-top: 70px;
}
@media (max-width: 768px) {
  .contact .row-contact .contact-info {
    margin-top: 30px;
  }
}
.contact h3 {
  text-transform: uppercase;
  color: #c5a643;
  font-size: 30px;
  font-weight: 700;
}
.contact ul {
  margin: 30px 0;
}
.contact li {
  list-style: url(/public/img/Untitled-25.png);
  padding: 18px 0;
}
.contact .btn-contact {
  font-family: "Roboto", sans-serif;
  color: inherit;
  background: #ffffff;
  border: 1px solid #f2dd43;
  height: 40px;
  width: 135px;
  font-weight: bold;
  margin-left: 25px;
  margin-bottom: 45px;
}
@media (max-width: 768px) {
  .contact .btn-contact {
    margin-left: 40px;
  }
}
.contact .btn-contact-firt {
  margin-left: 40px;
  background: #f2dd43;
}
@media (max-width: 768px) {
  .contact .btn-contact-firt {
    margin-bottom: 20px;
  }
}

.brand {
  padding-top: 60px;
  padding-bottom: 50px;
}
.brand .owl-nav {
  text-align: right;
  color: #000;
  position: absolute;
  top: -60px;
  right: 0;
}
.brand .owl-nav .owl-prev {
  background-image: url(/public/img/Untitled-41.png) !important;
  background-repeat: no-repeat !important;
  width: 40px;
  height: 20px;
}
.brand .owl-nav .owl-next {
  background-image: url(/public/img/Untitled-42.png) !important;
  background-repeat: no-repeat !important;
  width: 40px;
  height: 20px;
}
.brand .owl-stage-outer .owl-stage .owl-item img {
  margin-top: 50%;
  transform: translateY(-50%);
}

@media (max-width: 991px) {
  .content-left {
    display: none;
  }
}
.content-left h4 {
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 0;
}
.content-left .cate-product {
  margin-bottom: 30px;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
}
.content-left .cate-product .parent-rank {
  width: 100%;
  height: 2px;
  background: #dddddd;
  margin: 5px 3px;
}
.content-left .cate-product .parent-rank .child-rank {
  width: calc(100% / (4));
  background: #c5a643;
  height: 2px;
}
.content-left .cate-product ul {
  border: 1px solid #dddddd;
  padding: 10px 0;
}
.content-left .cate-product ul li {
  list-style: none;
  padding: 10px;
  border-top: 1px dashed #e0e0e0;
  position: relative;
}
.content-left .cate-product ul li:first-child {
  border: none;
}
.content-left .cate-product ul li:hover {
  color: #c5a643;
}
.content-left .cate-product ul li i {
  position: absolute;
  right: 10px;
  top: 8px;
  font-size: 18px;
}
.content-left .cate-brand h4 {
  color: #ffffff;
  background: #d9b21f;
  padding: 10px 20px;
}
.content-left .cate-brand .form-check {
  padding: 15px 0 5px 40px;
  border: 1px solid #dddddd;
  border-top: none;
}
.content-left .cate-brand .form-check .form-check-label {
  display: block;
  padding: 10px 0;
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
  text-transform: uppercase;
  position: relative;
}
.content-left .cate-brand .form-check .form-check-label .form-check-input {
  margin-top: unset;
  margin-left: -23px;
  width: 0;
  height: 0;
  position: absolute;
  opacity: 0;
  top: 10px;
  left: -23px;
}
.content-left .cate-brand .form-check .form-check-label .form-check-input:checked ~ .checkmark:after {
  display: block;
}
.content-left .cate-brand .form-check .form-check-label .checkmark {
  position: absolute;
  top: 10px;
  left: -23px;
  height: 13px;
  width: 13px;
  background-color: #ffffff;
  border: 1px solid #333333;
  border-radius: 2px;
}
.content-left .cate-brand .form-check .form-check-label .checkmark:after {
  content: "";
  position: absolute;
  display: none;
  left: 3px;
  top: 0;
  width: 5px;
  height: 10px;
  border: solid #000;
  border-width: 0 2px 2px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.content-right .product-detail {
  margin-bottom: 35px;
  text-align: left;
}
.content-right .product-detail-tabs {
  font-family: "Roboto Condensed", sans-serif;
  border: 1px solid #dddddd;
  text-align: left;
  margin-bottom: 30px;
}
.content-right .product-detail-tabs ul {
  border-bottom: 1px solid #c7c7c7;
}
.content-right .product-detail-tabs a {
  font-size: 16px;
  text-transform: uppercase;
  border-radius: unset;
  height: 40px;
  padding: 12px 30px;
  color: #666666;
}
.content-right .product-detail-tabs a.active {
  background: #d9b21f;
  color: #ffffff;
}
@media (max-width: 575px) {
  .content-right .product-detail-tabs a {
    padding: 12px 15px;
  }
}
.content-right .product-detail-tabs p {
  padding: 15px;
  line-height: 24px;
  padding-bottom: 30px;
}
.content-right-title {
  padding: 10px 0;
  margin-bottom: 20px;
}
.content-right-title.page-cate-product {
  background: #f5f5f5;
  border-top: 2px solid #d9b21f;
  padding-left: 10px;
}
.content-right-title.page-cate-news {
  padding-top: 0;
}
.content-right-title.page-cate-news h2 {
  font-family: "Roboto", sans-serif;
  font-size: 18px;
}
.content-right-title.page-detail {
  border-bottom: 1px solid #c7c7c7;
}
.content-right-title.page-detail h2 {
  font-size: 16px;
  color: #033333;
  border: none;
}
.content-right-title h2 {
  text-align: left;
  padding: 0;
  margin-bottom: 0px;
  font-size: 20px;
  font-weight: bold;
}
.content-right-title .form-group {
  margin-bottom: 0;
  font-family: "Roboto", sans-serif;
  position: absolute;
  top: 7px;
  right: 25px;
}
.content-right-title .form-group .form-control {
  padding: 0;
  height: 30px;
  width: 130px;
}
.content-right .news-list {
  margin-bottom: 30px;
}
.content-right .news-list:last-of-type {
  margin-bottom: 50px;
}
.content-right .news-list .news-img {
  height: 190px;
  padding-right: 5px;
}
@media (max-width: 575px) {
  .content-right .news-list .news-img {
    text-align: center;
    margin-bottom: 20px;
    padding-right: 15px;
  }
}
.content-right .news-list .news-img img {
  height: 100%;
  object-fit: cover;
}
.content-right .news-list .news-info {
  font-family: Arial, Helvetica, sans-serif;
}
.content-right .news-list .news-info h5 {
  font-weight: bold;
  font-size: 14px;
  line-height: 22px;
  margin-bottom: 0px;
}
.content-right .news-list .news-info p {
  font-size: 13px;
  color: #666666;
  line-height: 22px;
  height: 66px;
  margin-bottom: 35px;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  display: -webkit-box;
  -webkit-box-orient: vertical;
}
.content-right .news-list .news-info span {
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  color: #666666;
  font-style: italic;
  line-height: 24px;
}
.content-right .news-list .news-info span i {
  padding-right: 5px;
}
.content-right .news-list .news-info button {
  font-family: "Roboto", sans-serif;
  float: right;
  border-radius: 5px;
  border: 1px solid #ccb76d;
  font-size: 15px;
  background: #ffffff;
  width: 110px;
  height: 40px;
}
.content-right .news-list .news-info button:hover {
  background: #d9b21f;
  color: #ffffff;
}
.content-right-img {
  text-align: center;
}
.content-right-img .thumbnail {
  padding: 10px 0;
}
.content-right-img .product-thumbnails {
  display: flex;
  margin-top: 20px;
}
.content-right-img .product-thumbnails .thumbnail-child {
  width: calc((80%) / 3);
}
.content-right-img .product-thumbnails .thumbnail-child.active {
  border: 1px solid #dddddd;
}
.content-right-img .product-thumbnails .control-icon {
  width: 10%;
  align-self: center;
}
.content-right-info {
  font-family: "Roboto", sans-serif;
  padding-left: 10px;
  margin-bottom: 10px;
}
@media (max-width: 576px) {
  .content-right-info {
    margin-top: 30px;
  }
}
.content-right-info h2 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  font-weight: bold;
  text-align: unset;
  padding-top: 0;
  padding-bottom: 15px;
  border-bottom: 1px solid #dddddd;
}
.content-right-info ul {
  padding: 0;
  margin: 10px 0;
}
.content-right-info ul li {
  list-style: none;
  font-size: 14px;
  line-height: 24px;
}
.content-right-info h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
  margin: 0;
  padding: 10px 0;
  border-bottom: 1px solid #dddddd;
  border-top: 1px solid #dddddd;
}
.content-right-info p {
  font-size: 13px;
  line-height: 24px;
  margin-top: 10px;
  margin-bottom: 20px;
  color: #282828;
}
.content-right-info h4 {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 15px;
}
.content-right-info h4 span {
  color: #ff0000;
}
.content-right-info button {
  width: 200px;
  height: 60px;
  color: #ffffff;
  font-size: 16px;
  font-weight: bold;
  text-transform: uppercase;
  border-radius: unset;
  margin-bottom: 10px;
}
@media (max-width: 1200px) {
  .content-right-info button {
    width: 160px;
    height: 50px;
  }
}
.content-right-info button img {
  padding-right: 10px;
}
.content-right-info .btn-yellow {
  background: #d9b21f;
  margin-right: 20px;
}
.content-right-info .btn-red {
  background: #ff0000;
}
.content-right .fb-like {
  padding-left: 10px;
}
.content-right .pagination {
  float: right;
  font-family: "Roboto", sans-serif;
}
.content-right .pagination .page-item {
  margin-left: 5px;
  text-align: center;
}
.content-right .pagination .page-item .page-link {
  border-radius: unset;
  border-color: #dddddd;
  width: 38px;
  height: 38px;
  color: inherit;
  background: #ffffff;
  font-weight: 500;
  padding: 0;
  font-size: 13px;
  line-height: 38px;
}
.content-right .pagination .page-item.active .page-link {
  color: #ffffff;
  background: #d9b21f;
}

.contact-page {
  font-family: "Roboto", sans-serif;
  font-size: 15px;
  padding-bottom: 40px;
}
.contact-page h3 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 22px;
  font-weight: bold;
  color: #d9b21f;
  text-transform: uppercase;
  margin-bottom: 15px;
  position: relative;
  padding-left: 15px;
}
.contact-page h3::before {
  background: #0870a1;
  content: " ";
  width: 1px;
  height: 21px;
  position: absolute;
  top: 2px;
  left: 0;
}
.contact-page h4 {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  font-weight: bold;
  color: #444444;
  text-transform: uppercase;
  margin-bottom: 15px;
  position: relative;
  padding-left: 10px;
}
.contact-page h4::before {
  background: #ffcf00;
  content: " ";
  width: 3px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: 0;
}
.contact-page h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}
.contact-page ul {
  padding: 0;
  margin-bottom: 20px;
}
.contact-page ul li {
  color: #444444;
  list-style: none;
  line-height: 24px;
  padding: 5px 0;
  padding-left: 25px;
  position: relative;
}
.contact-page ul li span {
  font-weight: bold;
}
.contact-page ul li i {
  position: absolute;
  left: 0;
  top: 9px;
  color: #d9b21f;
}
.contact-page .form-group {
  margin-bottom: 10px;
}
.contact-page .form-group .form-control {
  border-radius: unset;
  border-color: #dddddd;
  padding: 5px 10px;
  font-size: 14px;
  font-style: italic;
  color: #666666;
}
.contact-page .form-group .form-control::placeholder {
  font-size: 14px;
  color: #666666;
}
.contact-page .form-group input {
  height: 35px;
}
.contact-page .form-group textarea {
  height: 50px;
}
.contact-page .btn-form-contact {
  margin-left: 15px;
  background: #d9b21f;
  height: 35px;
  width: 90px;
  border-radius: unset;
  font-size: 16px;
  font-weight: bold;
  color: #ffffff;
  text-transform: uppercase;
}

footer {
  font-size: 15px;
  font-family: "Roboto Condensed", sans-serif;
  color: #ffffff;
  background: #252525;
}
footer .row-footer {
  padding-top: 30px;
  padding-bottom: 25px;
}
footer .row-footer-firt {
  border-bottom: 1px solid #ffffff;
}
@media (max-width: 1200px) {
  footer .col-xl-6 {
    padding-top: 25px;
  }
  footer .col-xl-6:nth-of-type(1) {
    padding-top: 0;
  }
}
@media (max-width: 575px) {
  footer .col-sm-5, footer .col-sm-6 {
    padding-top: 25px;
  }
  footer .col-sm-6:nth-of-type(1) {
    padding-top: 0;
  }
}
footer .footer-title {
  font-family: "Roboto Condensed", sans-serif;
  font-size: 20px;
  text-transform: uppercase;
  font-weight: bold;
  margin-bottom: 15px;
  margin-left: 10px;
  position: relative;
}
footer .footer-title::before {
  background: #ffcf00;
  content: " ";
  width: 3px;
  height: 16px;
  position: absolute;
  top: 4px;
  left: -10px;
}
footer ul {
  padding: 0;
  margin: 0;
}
footer ul li {
  list-style: none;
  line-height: 30px;
  color: inherit;
}
footer ul li a {
  color: inherit;
}
footer ul li a:hover {
  color: #f2dd43;
}
footer .payment li {
  display: inline;
}
footer .footer-bottom {
  background: #000;
  padding: 10px 0;
  text-align: center;
  border-bottom: 1px solid #ffffff;
}
footer .footer-bottom p {
  color: #f2dd43;
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 24px;
}
footer .footer-bottom p span {
  color: #ffffff;
}

/*# sourceMappingURL=style.css.map */
